.jumbotron .container h1 {
text-align: center;

}
img {
width: 400px;
float: right;
margin-top: 65px;
}
.column {
width: 300px;
float: left;
margin-top: 60px;
border: 3px solid blue;
}
.sidebar {
  width: 29%;
  float: right;
  margin: 12px;
  border: 6px solid rgb(5, 179, 5);
  padding: 4px;
  background-color: tan;
  margin-right: 125px;
  }

.h3 {
text-decoration: orangered;

  }